* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body {
    font-family: 'Open Sans', sans-serif;
    background: #16110D;
    font-size: 16px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

/*Classification styles*/

button {
    border: none;
    outline: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: Roboto Mono;
    font-weight: 700;
}

h1 {
    font-size: 72px !important;


}

h2 {
    font-size: 51px;


}

h3 {
    font-size: 28px;


}

h4 {
    font-size: 24px;


}

a {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
    display: block;
    color: #fff;
    cursor: pointer;

}

header {
    background: url(../img/main_screen.jpg) 50% no-repeat;
    position: relative;
    background-size: cover;

}

/*Переносим*/

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(22, 17, 13, 0.5);
    z-index: 0;
}


.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.container_top {
    width: 1170px;
    margin: 0 auto;

}



.container {
    width: 1170px;
    margin: 0 auto;
}

.nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 18px;
    position: fixed;
    z-index: 33;
    width: 1170px;

}

.logo {
    position: relative;
    z-index: 3;
}

/*Основное меню*/


/* appearance navigation background*/

.bg_nav_hover {
    position: fixed;
    top: 0;
    left: 0;
    background: #16110D;
    opacity: 0;
    width: 100%;
    height: 70px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 20;
}

.bg_nav_hover_active {
    opacity: 1;
    position: fixed;


}

.bg_nav_show {
    opacity: 1;
}

/* appearance navigation background*/


/*Основное меню*/
.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container-menu {
    position: relative;
    width: 100%;
}

.header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 0;
}

.arrow_link {
    font-size: 30px;
    position: absolute;
    right: 0;
    display: none;
}


.arrow_link_hidden {
    font-size: 30px;
    position: absolute;
    top: -13px;
    display: none;
}


.header__menu li {
    list-style: none;
    font-size: 16px;
}

.content-wrapper {
    margin-top: 78px;
    padding: 10px;
    line-height: 34px;
}

.menu li {
    list-style: none;
    margin-right: 32px;

}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu li a:hover {
    color: #FFBE2E;

}

/*Основное меню*/


/*Выпадающее меню на десктопе*/
.menu_desc {
    position: absolute;
    padding: 0;
    background: rgba(22, 17, 13, 0.95);
    -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.37);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.37);
    margin-left: -55px;
    min-width: 350px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-align: start;
    display: none;
    border-top: 25px solid transparent;
}

.menu_desc li {
    margin: 30px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.menu_desc li a {
    font-weight: 700 !important;
    font-size: 16px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: 1px solid rgba(22, 17, 13, 0.95);



}

.arrow {
    display: block;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.menu_desc li:hover>.arrow {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: 1px solid rgba(22, 17, 13, 0.95);


}


.header__menu li:hover>.menu_desc {
    display: block;
}

.menu_desc li a:hover {
    border-bottom: 1px solid #FFBE2E;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}



.menu li ul li {
    margin-bottom: 20px;
}


/*Выпадающее меню на десктопе*/

/*Выпадающее меню на моб версии*/
.menu_hidden {
    display: none;
}

.menu_hidden2 {
    display: none;
}

.menu_hidden3 {
    display: none;
}

.menu_hidden4 {
    display: none;
}

/*Выпадающее меню на моб версии*/

/*Всё переносим*/


/*Тоже переносим*/

/*first screen*/

.offer {
    padding-top: 262px;
    padding-bottom: 262px;
    position: relative;

}

.offer h1 {
    text-transform: uppercase;
    max-width: 346px;
}

.decor {
    font-weight: 700;
    font-family: Roboto Mono;
    position: absolute;
    top: 320px;
    left: -220px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.decor span {
    width: 50px;
    height: 3px;
    background: #fff;
    display: block;
    margin-bottom: -12px;
    margin-left: -60px;
}


/*first screen*/

/*two section*/
.two_section {
    padding: 100px 0 150px;
}

.title {
    margin-bottom: 100px;
}

.title h2 {
    max-width: 790px;
    line-height: 1.3em;
}

.title span {}

.title span {
    color: #FFBE2E;
}


.subtitle {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;


}

.subtitle h4 {

    line-height: 150%;

}

.right {
    font-weight: 400;
    max-width: 570px;
    margin-top: 61px;
}

/*.right_wrapper h4:nth-child(2) {
    margin-top: 20px;
}

.right_wrapper h4:nth-child(3) {
    margin-top: 35px;
}*/

.left {
    max-width: 570px;


}

.left:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    margin-bottom: 62px;


}

/*two section*/

/*Product_card*/
.products_wrapper {
    padding-top: 150px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;


}

.two_row {
    padding-top: 60px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.three_row {
    padding-top: 60px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.card_product:hover>.card_overlay {
    opacity: 0.3;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    border: transparent;

}

.card_product {
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    min-height: 470px;
    width: 370px;
    padding: 25px 28px 98px;
    overflow: hidden;
    display: block;



}

.first_card {


    background: url(../img/hover1.png) 50% no-repeat;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-size: cover;
}


.second_card {

    background: url(../img/hover2.png) 50% no-repeat;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-size: cover;
}

.three_card {

    background: url(../img/hover3.png) 50% no-repeat;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-size: cover;
}

.four_card {

    background: url(../img/hover4.png) 50% no-repeat;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-right: 30px;
    background-size: cover;
}

.five_card {

    background: url(../img/hover5.png) 50% no-repeat;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-size: cover;
    margin-right: 30px;
}

.six_card {

    background: url(../img/hover6.png) 50% no-repeat;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-size: cover;
}

.seven_card {

    background: url(../img/hover7.png) 50% no-repeat;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-size: cover;
}

.card_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #16110D;
    z-index: 0;
    border: 1px solid #fff;
}

.card_subtitle h4 {
    max-width: 300px;
    margin-top: 18px;
    font-weight: 400;
    position: relative;
    z-index: 5;
    line-height: 1.4em;
}



.card_title h3 {
    text-transform: uppercase;
    position: relative;
    z-index: 5;
    width: 80%;

}

.card_btn {
    position: absolute;
    display: table;
    font-size: 1.5em;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px 11px;
    border-radius: 50%;
    border: 2px solid #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    bottom: 25px;
    cursor: pointer;
}

.card_btn:hover {}

.card_product:hover>.card_subtitle {
    opacity: 0;

}

.card_product:hover>.card_btn {
    color: #16110D;
    background: #fff;
    border: 2px solid transparent;

}

/*Product_card*/

/*Тоже переносим*/


/*Footer*/

/*button up*/

.click_return i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 27px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.click_return {
    position: fixed;
    right: 35px;
    bottom: 150px;
    width: 50px;
    height: 50px;
    background: #FFBE2E;
    border: 2px solid #FFBE2E;
    color: #16110D;
    border-radius: 50%;
    z-index: 50;
    display: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.click_return:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    background: #16110D;
    border: 2px solid #FFBE2E;
    color: #FFBE2E;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*button up*/

.footer {
    padding-top: 46px;
    padding-bottom: 110px;
    position: relative;

}

.nav-footer {
    position: relative;

}

.nav-footer:before {
    content: "";
    display: block;
    background: #fff;
    width: 100%;
    height: 1px;
    position: absolute;
    top: -46px;
    left: 0;
}


/*Меню футера десктоп*/


.menu_wrapper {
    margin: 0 35px 48px auto;
}

.menu_footer ul {
    list-style: none;
    margin-top: 0;

}

.menu_footer {
    margin-right: 70px;
}

.menu_footer:last-child {
    margin-right: 0;
}

.menu_footer ul li {
    margin-bottom: 10px;
}

.menu_footer ul li:first-child {
    margin-bottom: 20px;
}

.menu_footer ul li a {
    color: #C4C4C4;
    font-size: 12px;
}


.menu_footer ul li a:hover {
    color: #fff;
}

.main_link {
    color: #DCE0E0 !important;
    font-size: 14px !important;
    font-weight: 700;
    text-transform: uppercase;
}

/*Меню футера десктоп*/

.copyraityng {
    margin-bottom: -100px;
    display: block;
    font-size: 12px;
}


/*footer nav accardeon*/

.accordeon-wrapper-footer {
    width: 100%;
    display: none;
    border-top: 1px solid #aaa;

}


.accordeon-nav-title {
    padding: 10px 0;
    background: #16110D;
    color: #DCE0E0;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #aaa;
    font-weight: bold;
    font-size: 12px;
}

.accordeon-nav-title::before {
    content: "+";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 10px;
    font-size: 24px;
    font-weight: 400;

}

.accordeon-nav-content {
    position: relative;
    background: #16110D;
    color: #fff;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}

/*Customise footer accordeons open*/

.accordeon-nav-footer.active .accordeon-nav-title {
    border-bottom: none;
}

.accordeon-nav-footer.active .accordeon-nav-content {
    height: 150px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid #aaa;
}

.accordeon-nav-footer.active .accordeon-nav-content2 {
    height: 230px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.accordeon-nav-footer.active .accordeon-nav-content3 {
    height: 300px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.accordeon-nav-footer.active .accordeon-nav-content4 {
    height: 420px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.accordeon-nav-footer.active .accordeon-nav-title::before {
    content: "-"
}

/*Customise footer accordeons open*/

/*accordeons footer navigation*/
.resp_foot_nav ul li {
    list-style: none;
    margin: 20px auto;

}

.resp_foot_nav ul li a {
    color: #c4c4c4;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

.resp_foot_nav ul li a:hover {
    color: #FFBE2E;

}

/*footer nav accardeon*/



/*
Response version*/

@media(max-width: 750px) {

    header {
        padding-top: 20px;
        background: url(../img/main_screen_resp.png) 0 0 /100% no-repeat;
    }

    .container_top {
        width: 100%;


    }

    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;


    }

    /*  Переносим , что бы работало меню*/

    /*Customize response navigation !!!!*/

    .header {
        position: relative;
        right: 0;
        top: 0;
        width: 100%;
    }


    .nav {
        padding: 0;
        width: 100%;
        top: 18px !important;
    }

    .logo {
        position: absolute;
        left: 10px;
    }


    .header__menu {
        display: block;
    }

    .header__menu li {
        margin: 40px 24px 0 24px;
        font-size: 14px;

    }

    .header__menu li:last-child {
        margin-right: 24px;

    }

    .header__nav {
        position: absolute;
        padding-top: 50px;
        background: rgba(22, 17, 13, 0.95);
        -webkit-box-shadow: #ccc;
        box-shadow: #ccc;
        width: 100%;
        -webkit-box-shadow: 0 5px 6px rgba(36, 36, 36, 0.37);
        box-shadow: 0 5px 6px rgba(36, 36, 36, 0.37);
        right: -150%;
        top: -20px;
        height: 100vh;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;

    }

    .header__nav.open-menu {
        right: 0;
    }


    .menu-burger__header {
        position: fixed;
        width: 22px;
        height: 18px;
        display: block;
        cursor: pointer;
        top: 10px;
        right: 15px;
        z-index: 25;
        padding: 20px 0 20px;

    }

    .menu-burger__header span {
        height: 2px;
        width: 100%;
        position: absolute;
        background: #fff;
        margin: 0 auto;
        border-radius: 10%;

    }


    .menu-burger__header span {
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        border-radius: 10%;
    }

    .span_up {
        top: 12px !important;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;

    }

    .span_center {
        top: 20px !important;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .span_down {
        bottom: 10px !important;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .transparent {
        opacity: 0;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .rotate_after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: 7px !important;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .rotate_before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-bottom: 9px !important;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    /*новый бургер*/

    .title_link {
        font-weight: 700 !important;
        color: #FFBE2E !important;
        text-transform: uppercase;

    }


    .header__menu {
        padding-left: 0;
    }

    .menu__item {
        text-transform: uppercase;
        font-weight: 700 !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

    }

    .menu_desc {
        display: none !important;
    }


    .arrow_link {
        display: block;
        margin-right: 25px;
        margin-top: -32px;
    }

    .arrow_link_hidden {
        display: block;
        top: 30px;
        margin-right: 25px;
    }

    /*  Переносим , что бы работало меню*/



    /*Response menu 2 level*/

    .menu_hidden,
    .menu_hidden2,
    .menu_hidden3,
    .menu_hidden4 {
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: 100%;
        height: 100vh;
        position: absolute !important;
        right: -200%;
        background: rgba(22, 17, 13, 0.95);
        z-index: 30;
        top: -40px;
        padding-top: 13px !important;

    }

    .menu_hidden>li,
    .menu_hidden2>li,
    .menu_hidden3>li,
    .menu_hidden4>li {
        margin-top: 30px;
    }



    /*Product*/

    .menu_hidden {
        display: block;
        padding: 0;
    }

    .menu_hidden li a {
        font-weight: 400;
        width: 100%;

    }


    .menu_hidden.active {
        right: 0;
    }

    /*Product*/


    /*Solutions*/

    .menu_hidden2 {
        display: block;
    }

    .menu_hidden2 li a {
        font-weight: 400;
        width: 100%;

    }

    .menu_hidden2.active {
        right: 0;

    }


    /*Solutions*/

    .menu_hidden3 {
        display: block;
        padding: 0;
        overflow-y: scroll;
    }

    .menu_hidden3 li a {
        font-weight: 400;
        width: 100%;

    }


    .menu_hidden3.active {
        right: 0;
    }

    /*Solutions*/


    /*About us*/

    .menu_hidden4 {
        display: block;
        overflow-y: scroll;
    }

    .menu_hidden4 li a {
        font-weight: 400;
        width: 100%;

    }

    .menu_hidden4.active {
        right: 0;

    }

    /*About us*/




    /*  Responsive section*/

    /*main screen*/

    .offer {
        margin-top: 173px;
        padding-bottom: 173px;
        padding-top: 0;
    }


    .offer h1 {
        font-size: 44px !important;
        margin-left: 10px;
        max-width: 220px;


    }

    /*main screen*/


    .two_section {
        padding: 75px 0 50px;
    }


    .title {
        margin-bottom: 50px;

    }

    .title h2 {
        font-size: 32px;
        line-height: 125%;
        width: 100%;

    }

    .subtitle {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .subtitle h4 {
        width: 100%;
        font-size: 16px;
    }

    .left:before {
        margin-bottom: 20px;
    }

    .right {
        margin-top: 20px;
    }


    .products_wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 50px;

    }

    .two_row {
        padding-top: 30px;

    }

    .card_product {
        width: 100%;
        min-height: 318px;
        margin-bottom: 30px;
    }

    .card_product:last-child {
        margin-bottom: 0;
    }

    .card_title h3 {
        font-size: 24px;

    }

    .card_subtitle h4 {
        font-size: 16px;
        margin-top: 30px;
    }



    /*footer section setting*/

    .footer {
        padding-bottom: 30px;
        color: #DCE0E0;
        border-top: none;
        padding-top: 0;
    }

    .click_return {
        right: 15px;
        bottom: 50px;

    }

    .nav-footer:before {
        display: none;
    }

    .logo_footer {
        display: none;
    }

    .menu_footer {
        display: none;
    }

    .accordeon-wrapper-footer {
        display: block;
    }


    .resp_foot_nav {
        padding-left: 40px;
    }


    .copyraityng {
        margin-top: 30px;
        margin-bottom: 0;
        width: 100%;
        margin-left: 0;
    }

    /*footer section setting*/



}