* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body {
    font-family: 'Open Sans', sans-serif;
    background: #16110D;
    font-size: 16px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

/*Classification styles*/

button {
    border: none;
    outline: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

input,
textarea {
    border: none;
    outline: none;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: Roboto Mono;
    font-weight: 700;
}

h1 {
    font-size: 72px;


}

h2 {
    font-size: 51px;


}

h3 {
    font-size: 36px;


}

h4 {
    font-size: 32px;


}

h5 {
    font-size: 20px;


}

h6 {
    font-size: 18px;


}

a {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
    display: block;
    color: #fff;
    cursor: pointer;

}

header {}



.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.container_top {
    width: 1170px;
    margin: 0 auto;

}



.container {
    width: 1170px;
    margin: 0 auto;
}

.nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 18px;
    position: fixed;
    z-index: 33;
    width: 1170px;


}

.logo {
    position: relative;
    z-index: 3;
}

/*Основное меню*/


/* appearance navigation background*/

.bg_nav_hover {
    position: fixed;
    top: 0;
    left: 0;
    background: #16110D;
    opacity: 0;
    width: 100%;
    height: 70px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 20;
}

.bg_nav_hover_active {
    opacity: 1;
    position: fixed;


}

.bg_nav_show {
    opacity: 1;

}



/* appearance navigation background*/


/*Основное меню*/
.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container-menu {
    position: relative;
    width: 100%;
}

.header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 0;
}

.arrow_link {
    font-size: 30px;
    position: absolute;
    right: 0;
    display: none;
}


.arrow_link_hidden {
    font-size: 30px;
    position: absolute;
    top: -13px;
    display: none;
}


.header__menu li {
    list-style: none;
    font-size: 16px;
}

.content-wrapper {
    margin-top: 78px;
    padding: 10px;
    line-height: 34px;
}

.menu li {
    list-style: none;
    margin-right: 32px;

}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu li a:hover {
    color: #FFBE2E;

}

/*Основное меню*/

/*Выпадающее меню на десктопе*/
.menu_desc {
    position: absolute;
    padding: 0;
    background: rgba(22, 17, 13, 0.95);
    -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.37);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.37);
    margin-left: -55px;
    min-width: 350px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-align: start;
    display: none;
    border-top: 25px solid transparent;
}

.menu_desc li {
    margin: 30px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.menu_desc li a {
    font-weight: 700 !important;
    font-size: 16px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: 1px solid rgba(22, 17, 13, 0.95);



}

.arrow {
    display: block;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.menu_desc li:hover>.arrow {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: 1px solid rgba(22, 17, 13, 0.95);


}


.header__menu li:hover>.menu_desc {
    display: block;
}

.menu_desc li a:hover {
    border-bottom: 1px solid #FFBE2E;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}



.menu li ul li {
    margin-bottom: 20px;
}


/*Выпадающее меню на десктопе*/

/*Выпадающее меню на моб версии*/
.menu_hidden {
    display: none;
}

.menu_hidden2 {
    display: none;
}

.menu_hidden3 {
    display: none;
}

.menu_hidden4 {
    display: none;
}

/*Выпадающее меню на моб версии*/



/*first screen*/

/*Bread crubs style*/
.bread_crumbs a {
    color: #AAAAAA;
    font-size: 14px;
    cursor: pointer;


}

.bread_crumbs {
    font-weight: 400;
    margin-bottom: 10px;

}

.bread_crumbs span {
    margin: 0 5px;
    color: #AAAAAA;
}

/*Bread crubs style*/

.offer {

    position: relative;
    padding: 140px 0 170px;

}

.offer h1 {
    text-transform: uppercase;
    min-width: 346px;
    color: #FFBE2E;
    line-height: 1.0em;
}

.down {
    margin-left: 200px;
}


/*first screen*/

/*two section*/
.two_section {
    padding-bottom: 200px;

}

.wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.wrapper:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -100px;
}


.title h3 {
    font-family: Roboto Mono;
    line-height: 1.25em;
    max-width: 550px;
}

.title span {
    color: #FFBE2E;
}

.info_img {
    margin-bottom: 50px;
}

.info_img_resp {
    display: none;
}

.info_img:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    margin-top: 50px;
}

.info_img_resp:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    margin-top: 50px;
}

.subtitle {
    width: 480px;
    text-indent: 90px;
    background: url(../img/white_arrow.svg) no-repeat left top;
    line-height: 1.5em;
    margin-bottom: 30px;
}

.descriotions {
    width: 480px;
    color: #DCE0E0;
    line-height: 1.5em;
}

.first {
    margin-bottom: 20px;
}

/*two section*/


/*Three section*/
.three_section {
    padding-bottom: 150px;
}

.problems {
    padding-top: 50px;
    padding-bottom: 150px;
    position: relative;
}

.problems:before {
    content: "";
    display: block;
    background: #fff;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;


}

.problems_title {
    position: relative;

}

.problems_title:after {
    content: "";
    display: block;
    color: #FFBE2E;
    font-size: 35px;
    position: absolute;
    top: 0;
    right: -35px;
    width: 30px;
    height: 2px;
    background: url(../img/line.svg) no-repeat;
}

.problems_list {
    width: 470px;
    margin-left: 410px;

}

.point span {
    margin-right: 30px;
}

.point {
    margin-bottom: 30px;
}

.point:last-child {
    margin-bottom: 0;
}

.advantages {
    position: relative;
    padding-top: 50px;
}

.advantages:before {
    content: "";
    display: block;
    background: #fff;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;


}

.advantage_title {
    position: relative;
}

.advantage_title:after {
    content: "";
    display: block;
    font-size: 35px;
    position: absolute;
    top: 0;
    right: -35px;
    width: 30px;
    height: 20px;
    background: url(../img/plus.svg) no-repeat;


}


/*Accordeon style*/

/*Accordeon style*/

.accordeon-wrapper {
    max-width: 490px;
    margin-left: 380px;


}

.accordeon-item {
    width: 100%;
    position: relative;
    border-bottom: 1px solid 16110D;

}

.accordeon-item-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #16110D;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.index {
    margin-right: 30px;
}

.accordeon-item-content {
    position: relative;
    background: #16110D;
    color: #fff;
    height: 0;
    overflow: hidden;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    padding-left: 35px;
    padding-top: 30px;

}

.accordeon-item.active .title_text {
    font-family: Roboto Mono;
    font-weight: bold;
    font-size: 32px;
    line-height: 100%;
    text-transform: uppercase;
    width: 380px;
}

.content_subtitle {
    line-height: 1.5em;
    width: 370px;
    margin-left: 30px;
    color: #DCE0E0;
}

.accordeon-item.active .accordeon-item-content {
    height: 130px;
}


/*Three section*/
/*tab section   */


.tabs_section {
    background: #fff;
    line-height: 1.5em;
    padding-bottom: 75px;
}

.tabs_title {
    color: #16110D;
    padding-top: 150px;
    padding-bottom: 70px;
}

.tabs_title span {
    color: #FFBE2E;
    line-height: 1.25em;
}



.wrapper_tabs {
    margin: 0 auto;
    width: 100%;
}


.tabs-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: 2px solid rgba(22, 17, 13, 0.25);
}

.tabs-nav__item {
    cursor: pointer;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
    color: #AAAAAA;

}


.tabs-nav__item.is-active {
    color: #16110D;
}

.tabs_heading img {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tabs-nav__item.is-active .tabs_heading img {
    opacity: 1;
    visibility: visible;
}

.tabs_index {

    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #AAAAAA;
    margin-bottom: 15px;
    margin-left: 35px;
}

.tabs_heading {
    max-width: 350px;
}

.text_item {
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
    width: 340px;

}

.tab {
    display: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: -2px;

}

.tab.is-active {
    display: block;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.text_wrapper {
    color: #16110D;
    width: 100%;
    border-top: 2px solid #16110D;
    padding-top: 50px;


}

.first_paragraph {
    margin-bottom: 30px;
    font-size: 18px;
    width: 480px;
}

.second_paragraph {
    max-width: 480px;
}

.text_wrapper_roght {
    margin-left: 57px;
}

.tab_img_first {
    margin-left: auto;
    padding-top: 50px;
}

.tab_img {
    padding-top: 50px;
}

.tab_resp {
    display: none;
}


/*Footer*/

/*button up*/

.click_return i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 27px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.click_return {
    position: fixed;
    right: 35px;
    bottom: 150px;
    width: 50px;
    height: 50px;
    background: #FFBE2E;
    border: 2px solid #FFBE2E;
    color: #16110D;
    border-radius: 50%;
    z-index: 50;
    display: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.click_return:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    background: #16110D;
    border: 2px solid #FFBE2E;
    color: #FFBE2E;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*button up*/

.footer {
    padding-top: 46px;
    padding-bottom: 110px;

}

.nav-footer {
    position: relative;

}

.nav-footer:before {
    content: "";
    display: block;
    background: transparent;
    width: 100%;
    height: 1px;
    position: absolute;
    top: -46px;
    left: 0;

}



/*Меню футера десктоп*/
.menu_wrapper {
    margin: 0 35px 48px auto;
}

.menu_footer {
    margin-right: 70px;

}

.menu_footer:last-child {
    margin-right: 0;

}

.menu_footer ul {
    list-style: none;
    margin-top: 0;

}

.menu_footer ul li {
    margin-bottom: 10px;
}

.menu_footer ul li:first-child {
    margin-bottom: 20px;
}

.menu_footer ul li a {
    color: #C4C4C4;
    font-size: 12px;
}


.menu_footer ul li a:hover {
    color: #fff;
}

.main_link {
    color: #DCE0E0 !important;
    font-size: 14px !important;
    font-weight: 700;
    text-transform: uppercase;
}

/*Меню футера десктоп*/

.copyraityng {
    margin-bottom: -100px;
    display: block;
    font-size: 12px;
}


/*footer nav accardeon*/

.accordeon-wrapper-footer {
    width: 100%;
    display: none;
    border-top: 1px solid #aaa;

}

.accordeon-nav-title {
    padding: 10px 0;
    padding-left: 0;
    background: #16110D;
    color: #DCE0E0;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #aaa;
    font-weight: bold;
    font-size: 12px;
}

.accordeon-nav-title::before {
    content: "+";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 10px;
    font-size: 24px;
    font-weight: 400;

}

.accordeon-nav-content {
    position: relative;
    background: #16110D;
    color: #fff;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}

.resp_foot_nav {
    padding-left: 40px;
}

/*Customise footer accordeons open*/

.accordeon-nav-footer.active .accordeon-nav-title {
    border-bottom: none;
}

.accordeon-nav-footer.active .accordeon-nav-content {
    height: 160px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid #aaa;
}

.accordeon-nav-footer.active .accordeon-nav-content2 {
    height: 245px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.accordeon-nav-footer.active .accordeon-nav-content3 {
    height: 325px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.accordeon-nav-footer.active .accordeon-nav-content4 {
    height: 450px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.accordeon-nav-footer.active .accordeon-nav-title::before {
    content: "-"
}

/*Customise footer accordeons open*/

/*accordeons footer navigation*/
.resp_foot_nav ul li {
    list-style: none;
    margin: 20px auto;

}

.resp_foot_nav ul li a {
    color: #c4c4c4;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

.resp_foot_nav ul li a:hover {
    color: #FFBE2E;

}

/*footer nav accardeon*/



/*
Response version*/

@media(max-width: 750px) {

    header {}

    .container_top {
        width: 100%;

    }

    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;

    }


    /*Customize response navigation !!!!*/

    .logo {
        position: absolute;
        z-index: 0;
        left: 10px;
    }



    .header {
        position: relative;
        right: 0;
        top: 0;
        width: 100%;
    }


    .nav {
        padding: 0;
        width: 100%;
        top: 18px !important;
    }


    .header__menu {
        display: block;
    }

    .header__menu li {
        margin: 40px 24px 0 24px;
        font-size: 14px;

    }

    .header__menu li:last-child {
        margin-right: 24px;

    }

    .header__nav {
        position: absolute;
        padding-top: 50px;
        background: rgba(22, 17, 13, 0.95);
        -webkit-box-shadow: #ccc;
        box-shadow: #ccc;
        width: 100%;
        -webkit-box-shadow: 0 5px 6px rgba(36, 36, 36, 0.37);
        box-shadow: 0 5px 6px rgba(36, 36, 36, 0.37);
        right: -150%;
        top: -20px;
        height: 100vh;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .header__nav.open-menu {
        right: 0;
    }

    /*новый бургер*/
    .menu-burger__header {
        position: fixed;
        width: 22px;
        height: 18px;
        display: block;
        margin-left: auto;
        cursor: pointer;
        top: 10px;
        right: 15px;
        z-index: 25;
        padding: 20px 0 20px;
    }

    .menu-burger__header span {
        height: 2px;
        width: 100%;
        position: absolute;
        background: #fff;
        margin: 0 auto;
        border-radius: 10px;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;

    }


    .span_up {
        top: 12px !important;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;

    }

    .span_center {
        top: 20px !important;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .span_down {
        bottom: 10px !important;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .transparent {
        opacity: 0;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .rotate_after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: 7px !important;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .rotate_before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-bottom: 9px !important;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    /*новый бургер*/


    .title_link {
        font-weight: 700 !important;
        color: #FFBE2E !important;
        text-transform: uppercase;

    }


    .header__menu {
        padding-left: 0;
    }

    .menu__item {
        text-transform: uppercase;
        font-weight: 700 !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

    }

    .menu_desc {
        display: none !important;
    }


    .arrow_link {
        display: block;
        margin-right: 25px;
        margin-top: -32px;
    }

    .arrow_link_hidden {
        display: block;
        top: 30px;
        margin-right: 25px;
    }



    /*Response menu 2 level*/

    .menu_hidden,
    .menu_hidden2,
    .menu_hidden3,
    .menu_hidden4 {
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: 100%;
        height: 100vh;
        position: absolute !important;
        right: -200%;
        background: rgba(22, 17, 13, 0.95);
        z-index: 30;
        top: -40px;
        display: none;
        padding-top: 13px !important;

    }

    .menu_hidden>li,
    .menu_hidden2>li,
    .menu_hidden3>li,
    .menu_hidden4>li {
        margin-top: 30px;
    }




    /*Product*/

    .menu_hidden {
        display: block;
        padding: 0;
    }

    .menu_hidden li a {
        font-weight: 400;
        width: 100%;

    }


    .menu_hidden.active {
        right: 0;
    }

    /*Product*/


    /*Services*/

    .menu_hidden2 {
        display: block;
    }

    .menu_hidden2 li a {
        font-weight: 400;
        width: 100%;

    }

    .menu_hidden2.active {
        right: 0;

    }

    /*Services*/


    /*Solutions*/

    .menu_hidden3 {
        display: block;
        padding: 0;
        overflow-y: scroll;
    }

    .menu_hidden3 li a {
        font-weight: 400;
        width: 100%;

    }


    .menu_hidden3.active {
        right: 0;
    }

    /*Solutions*/


    /*About us*/

    .menu_hidden4 {
        display: block;
    }

    .menu_hidden4 li a {
        font-weight: 400;
        width: 100%;

    }

    .menu_hidden4.active {
        right: 0;
        overflow-y: scroll;

    }

    /*About us*/




    /*  Responsive section*/

    /*main screen*/

    .offer {
        padding: 110px 15px 30px;
    }

    .bread_crumbs {
        margin-bottom: 30px;
    }


    .title h1 {
        font-size: 44px;
        min-width: 0;
    }

    .down {
        margin-left: 144px;
    }

    /*main screen*/

    /*Two  section*/
    .two_section {
        padding-bottom: 100px;
    }

    .title {
        margin-bottom: 30px;
    }

    .title h3 {
        font-size: 24px;
        max-width: 100%;
    }

    .wrapper:before {
        margin-top: -30px;
    }

    .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }



    .info_img {
        display: none;

    }

    .info_img_resp {
        display: block;
        margin-bottom: 30px;

    }

    .subtitle {
        width: 100%;
        text-indent: 60px;
        background: url(../img/white_arrow_resp.svg) no-repeat left top 2px;
        font-size: 16px;
    }

    .descriotions {
        width: 100%;

    }


    /*Two  section*/

    /*Three  section*/
    .three_section {
        padding-bottom: 0;
    }

    .problems {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 50px;
    }

    .problems_title {

        width: 100%;
        font-size: 18px;
        margin-bottom: 30px;
    }

    .problems_title:after {
        top: -5px;
        left: 90px;

    }

    .problems_list {

        width: 85%;
        margin-left: 0;
        margin: 0 auto;

    }

    .point {

        font-size: 14px;
    }

    .point span {

        margin-right: 40px;
        width: 50px;
    }

    .three span {
        width: 60px;
    }

    .advantages {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .advantage_title:after {
        top: -10px;
        left: 100px;

    }

    .advantage_title {
        width: 100%;
        font-size: 18px;
        margin-bottom: 30px;
    }



    .tabs_section {
        padding-bottom: 35px;
    }

    .accordeon-wrapper {

        max-width: 90%;
        margin-left: 0;
        margin: 0 auto;
    }

    .index {
        width: 85px;
        margin-right: 25px;
    }

    .title_text {
        font-size: 14px;

    }

    .accordeon-item.active .title_text {
        font-size: 16px;
        width: 100%;
        margin-left: 30px;
    }

    .accordeon-item-content {
        padding-left: 75px;
    }


    .accordeon-item.active .accordeon-item-content {
        height: 170px;
    }

    .accordeon-item.active .accordeon-item-content_2 {
        height: 150px;
    }


    .accordeon-item-content_last {
        padding-top: 17px;
    }

    .content_subtitle {
        font-size: 14px;
        width: 100%;
        margin-left: 15px;
    }

    /*Three  section*/

    /*Tab response*/

    .tabs_title {
        width: 100%;
        font-size: 32px;
        padding-top: 82px;
        padding-bottom: 30px;
    }

    .wrapper_tabs {
        display: none;
    }

    .wrapper_tabs_resp {
        display: block !important;
    }

    .content_wrapper {
        margin-bottom: 50px;
    }

    .tabs-nav__item {
        padding: 0;
    }

    .text_item {
        margin-left: 15px;
        margin-bottom: 25px;
        width: 100%;
    }

    .tabs_heading img {
        opacity: 1;
        visibility: visible;
    }

    .tabs_heading {
        color: #16110D;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .tabs_index {
        margin-bottom: 20px;
        margin-left: 0;
    }

    .tab_resp {
        display: block;
    }

    .first_paragraph {
        font-size: 16px;
        line-height: 1.5em;
        width: 100%;
    }

    .tab_img img {
        width: 100%;
        margin-bottom: 30px;
    }

    .second_paragraph {
        font-size: 16px;
        line-height: 1.5em;
        width: 100%;
    }



    /*Tab response*/

    /*footer section setting*/

    .footer {
        padding-bottom: 30px;
        color: #DCE0E0;
        border-top: none;
        padding-top: 30px;
    }

    /*
    .click_return {
        right: 15px;
        bottom: 50px;
        
    }*/

    .logo_footer {
        display: none;
    }



    .nav-footer:before {
        display: none;
    }

    .menu_footer {
        display: none;
    }

    .accordeon-wrapper-footer {
        display: block;

    }


    .copyraityng {
        margin-top: 30px;
        margin-bottom: 0;
        width: 100%;
        margin-left: 0;
    }

}